body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: rgb(52, 52, 47);
  background: radial-gradient(
    circle,
    rgba(52, 52, 47, 1) 0%,
    rgba(19, 117, 101, 1) 50%,
    rgba(62, 180, 148, 1) 100%
  );
  background-attachment: fixed;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #44c3a1; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #34342f; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #34342f; /* creates padding around scroll thumb */
}
